@import "~bootstrap/scss/bootstrap";
@import "vars";

body {
    margin: 0;
    padding: 0;
    position: relative;

    h1 {
        font-family: $title-font;
        line-height: calc(105px + 6 * ((100vw - 320px) / 680));
        font-weight: normal;
        font-size: calc(110px + 6 * ((100vw - 320px) / 680));
        color: $light-color;
        margin: 0;
    }

    @import "header.scss";

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        grid-template-areas: "left right";

        .left {
            padding: 0 14%;
            width: 100%;
            height: 100%;
            grid-area: left;
            background-color: $dark-color;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-family: $text-font;
                color: $light-color;
                font-weight: 500;
                font-size: calc(12px + 6 * ((100vw - 320px) / 680));
                margin: 25px 0;
            }

            .about-paragraph {
                width: 25vw;
                font-family: $text-font;
                margin: 35px 0;
                color: $light-color;
                font-size: calc(8px + 6 * ((100vw - 320px) / 680));
            }

            @import "button";
        }

        .right {
            margin-top: 40px;
            width: 100%;
            height: calc(100% - 40px);
            grid-area: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 50vw;
                object-fit: cover;
            }

            @import "tickets";
        }
    }

}

@media screen and (max-width: 660px) {
    body {
        header {
            justify-content: flex-end;
            padding: 0 20px 0 0;
            width: calc(100% - 20px);

            .nav {
                a {
                    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
                }
            }

            .wild {
                display: none;
            }

            svg {
                margin: 0 10px;
            }
        }

        h1 {
            line-height: calc(75px + 6 * ((100vw - 320px) / 680));
            font-size: calc(80px + 6 * ((100vw - 320px) / 680));
        }

        main {
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: 50vh 50vh;
            grid-template-areas: "up" "down";

            .left {
                height: 100%;
                grid-area: down;

                h2 {
                    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
                    margin: 25px 0;
                }

                .about-paragraph {
                    width: 80vw;
                    font-family: $text-font;
                    margin: 25px 0;
                    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
                }

                button {
                    div {
                        font-size: calc(11px + 6 * ((100vw - 320px) / 680));
                    }
                }
            }

            .right {
                height: 100%;
                grid-area: up;

                img {
                    width: 50vh;
                }
            }
        }
    }
}
